.col-wrapper {
    display: flex;
}

.col {
    height: 100vh;
}

.first {
    background-color: yellow;
    width: 100px;
}

.second, .third {
    flex-grow: 50;
    justify-content: space-between;
}

.second {
    background-color: red;
}

.third {
    background-color: gray;
}